#game {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px 20px;
  margin: 10px 30px;
}

#game div {
    /* box-shadow: 6px 3px #282828; */
    box-shadow: 6px 6px #15db95;
    border-radius: 5%;
    border: 1px solid #17c688;
    width: 15%;
    height: 200px;
    margin: 10px auto;
    display: inline-block;
    background-color: white;
  }

#game div:focus {
  border: 3px;
}

p {
  font-size: 1.05em;
  color: rgb(255, 94, 94);
  font-weight: 500;
  margin: 0 auto;
}

body {
  font-family: 'roboto', sans-serif;
  color: white;
  background-color: #0c0032;
}

h1 {
  font-weight: 300;
  font-size: 3em;
  text-align: center;
  margin: 40px auto 15px;
  /* letter-spacing: 1px; */
}

form {
  display: flex;
  width: fit-content;
  margin: auto;
}

input, button {
  font-family: 'roboto', sans-serif;
  font-size: 1.25em;
  justify-content: center;
  padding: 5px;
  margin: 10px 10px 0px;
}

input {
  color: #282828
}

button {
  background-color: #3500d3;
  font-weight: 300;
  border-style: none;
  color: white;
}

button:hover {
  background-color: #15db95;
  color: #0c0032;
}

#score {
  color: #15db95;
  font-weight: 300;
  margin: 10px 30px;
  font-size: 1.25em;

}

p.score, #score > p {
  color: white;
  font-weight: 300;
  margin: 10px auto;
}

#score > button#play {
  font-family: 'roboto', sans-serif;
  font-size: .95em;
  font-weight: 300;
  justify-content: center;
  padding: 5px;
  /* letter-spacing: .1px; */
  margin: 10px auto 0px;
}